<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   Bienvenido al aula virtual de la escuela pepito!
    <br> Tu nombre es {{nombre}}
    <br> Tu apellido es {{apellido}}
    {% for nota in lista_de_notas %}
        {% if nota > 5 %}
        <p style="color:rgb(241, 9, 241);">Evaluacion aprobada con nota: {{nota}}</p>
        {% else %}
        <p style="color:rosybrown;">Evaluacion reprobada con nota: {{nota}}</p>
        {% endif %}
    {% endfor %}
    <br> Estas aprobadisima {{nombre}} {{apellido}}! Felicitaciones Diseñadora Ux/Ui!
</body>
</html>